/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #1e1e2f;
  color: #ffffff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo h1 {
  font-size: 1.8rem;
  color: #61dafb;
  font-weight: bold;
  
}

.nav{
   
}

.nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  align-items: center;
  justify-content: space-between;;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav a:hover {
  color: #61dafb;
  transform: translateY(-2px);
}

/* Responsivo */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .nav ul {
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 0.5rem;
  }

  .nav a {
    font-size: 1rem;
  }
}
